<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    
    <form action="/reg/" method="POST">
        {% csrf_token %}

        <input type="text" name="first_name" placeholder="First Name" required><br><br>
        <input type="text" name="last_name" placeholder="Last Name" required><br><br>
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password1" placeholder="Password" required><br><br>
        <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
        <input type="submit" value="Register">
        <p>Already have an Account? <a href="/login" style="text-decoration: none;">login</a> </p><br>
    </form>
    <div>
    {% if messages %}
    {% for message in messages %}
    <p style="color: red">&nbsp;&nbsp;{{message }}</p>
    {% endfor %}
    {% endif %}
    </div>
</body>

</html>